.header-hero-bg {
    background-image: url('../img/heroImage.png');  /*Ganti dengan path gambar Anda */
    background-color: #00365dff;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 20px; /* Tambahkan padding jika ingin ruang di atas */
    padding-bottom: 50px; /* Tambahkan padding jika ingin ruang di bawah */
    color: white; /* Sesuaikan warna teks jika diperlukan */
    width: 100%;
    border-bottom-left-radius: 20px; /* Ganti sesuai kebutuhan */
    border-bottom-right-radius: 20px; /* Ganti sesuai kebutuhan */
    overflow: hidden; /* Untuk mencegah overflow jika ada elemen anak */

  }

  .gambar-section {
    background-color: #f0f8ff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Untuk memusatkan konten secara horizontal */
  }
  
  .section-image {
    width: 100%;
    height: auto; /* Membuat gambar responsif dan menjaga rasio */
    border-radius: 20px 20px 0 0; /* Hanya melengkungkan bagian atas gambar jika diinginkan */
  }

/* 
  .header-hero-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Warna hitam transparan 
    z-index: 1; /* Letakkan overlay di atas background 
  }
   */

   .b-ex-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(249, 249, 249, 0.1);
    border: solid rgba(239, 239, 239, 0.15);
    border-width: 1px 0;
    /* box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15); */
  }
  .smoke-bg-section {
    padding: 40px;                  /* Spasi internal agar konten tidak terlalu menempel ke tepi */
    color: white;                   /* Warna teks putih agar lebih jelas di atas latar */
    border-radius: 20px;            /* Membuat sudut melengkung */
    background: radial-gradient(
        circle, 
        rgba(0, 128, 128, 0.5),     /* Biru kehijauan transparan */
        rgba(255, 165, 0, 0.3),     /* Oranye transparan */
        rgba(0, 255, 127, 0.4)      /* Hijau transparan */
      );
    background-blend-mode: multiply;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); /* Menambahkan sedikit bayangan untuk efek smoke */
  }

  .header-hero-bg * {
    position: relative;
    z-index: 2; /* Letakkan konten di atas overlay */
  }
  .bg-sec {
    background-color: #f7f7f7;  /* Ganti dengan warna yang Anda inginkan */
    border-radius: 20px;        /* Mengatur sudut lengkung, bisa diubah */
    padding: 20px;              /* Tambahkan padding agar konten tidak menempel ke tepi */
    margin-bottom: 20px;        /* Memberi jarak antar section */
    display: flex;
    flex-direction: column;
    align-items: center; /* Untuk memusatkan konten secara horizontal */

  }
  .taglineText {
    color: #f4e04dff; /* Ganti dengan warna HEX, RGB, atau nama warna yang Anda inginkan */
  }

  .hero-row {
    height: 500px; /* Atur tinggi sesuai kebutuhan */
  }
  
  .hero-circle {
    height: 100%; /* Gambar akan mengisi tinggi row */
    width: auto; /* Menjaga aspek rasio gambar */
    object-fit: cover; /* Mengisi area gambar dengan memotong jika perlu */
  }

  .cherry-bomb-one-regular {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .chewy-regular {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.tektur-future {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 200;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }
  
  