.header-hero-bg {
    background-image: url('../img/heroImage.png');  /*Ganti dengan path gambar Anda */
    background-color: #00365dff;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 20px; /* Tambahkan padding jika ingin ruang di atas */
    padding-bottom: 50px; /* Tambahkan padding jika ingin ruang di bawah */
    color: white; /* Sesuaikan warna teks jika diperlukan */
    width: 100%;
    border-bottom-left-radius: 20px; /* Ganti sesuai kebutuhan */
    border-bottom-right-radius: 20px; /* Ganti sesuai kebutuhan */
    overflow: hidden; /* Untuk mencegah overflow jika ada elemen anak */

  }

/* 
  .header-hero-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Warna hitam transparan 
    z-index: 1; /* Letakkan overlay di atas background 
  }
   */
  .header-hero-bg * {
    position: relative;
    z-index: 2; /* Letakkan konten di atas overlay */
  }

  .taglineText {
    color: #f4e04dff; /* Ganti dengan warna HEX, RGB, atau nama warna yang Anda inginkan */
  }

  .hero-row {
    height: 500px; /* Atur tinggi sesuai kebutuhan */
  }
  
  .hero-circle {
    height: 100%; /* Gambar akan mengisi tinggi row */
    width: auto; /* Menjaga aspek rasio gambar */
    object-fit: cover; /* Mengisi area gambar dengan memotong jika perlu */
  }

  .cherry-bomb-one-regular {
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .chewy-regular {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.tektur-future {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 200;
}

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
  }
  
  